body {
  background-color: #EAE7DC;
  padding: 20px;
  margin: 0;
}

h1 {
  text-align: center;
}

h1 .{
  color: #E85A4F;
  letter-spacing: 0.1em;
}

h1, h2, p, ul, li {
  font-family: sans-serif;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}


ul.header {
  background-color: #bba688;
  padding: 0;
}


ul.header li a {
  color: #5f5e5c;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

ul.header li a:hover {
  color: #E85A4F;
}



.content {
  background-color: #EAE7DC;
  padding: 20px;
}

.content h2 {
  text-align: center;
  padding: 0;
  margin: 0;
}

.content li {
  margin-bottom: 10px;
}

.active {
  background-color: #D8C3A5;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: lightgray;
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.description {
  color: dimgray;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.price {
  color: grey;
  font-size: 22px;
}

a.button1 {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #FFFFFF;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.2s;
}

a.button1:hover {
  color: #000000;
  background-color: #FFFFFF;
}

.weatherForm {
  text-align: center;
}

.logout {
  text-align: right;
}

.loginForm {
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(211, 211, 211, 0.8);
  border-radius: 15px;
  padding: 10px;
  max-width: 400px;
  margin: auto;
  font-family: arial;
}

.loginInfo {
  text-align: right;
  font-family: sans-serif;
  color: #FFF;
}

button {
  background-color: #4a7c59;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: auto;
}

button:hover {
  opacity: 0.8;
}

input[type=text], input[type=password], input[type=email] {
  width: auto;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}

.ilmoitukset {
  background-color: #EAE7DC;
}
.ilmoitus {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  background-color: #D8C3A5;
  color: #5f5e5c;
  max-width: 60%;
  margin: auto;
  text-align: center;
  border-radius: 5px;
}

.ilmoitus h1 {
  border-radius: 5px;
  letter-spacing: 0.05em;
  background-color: #bba688;
  color: #E85A4F;
}
.ilmoitus h3 {
  color: #5f5e5c;
}

.ilmoittaja {
  color: #E85A4F;
}