<div class="registerForm">
  <h1>Muokkaa ilmoitusta</h1>

  <div>
    <label for="advertName">Ilmoitusksen nimi: </label>
    <input
      type="text"
      class="form-control"
      id="ilmoitus_nimi"
      name="ilmoitus_nimi"
      value={{ilmoitus_nimi}}
    />
  </div>

  <div>
    <label for="advertDescription">Ilmoituksen kuvaus:</label>
    <input
      type="text"
      class="form-control"
      id="ilmoitus_kuvaus"
      name="ilmoitus_kuvaus"
      placeholder={{ilmoitus_kuvaus}}
    />
  </div>

  <button type="submit" class="button">Tallenna</button>

</div>