<html lang="fi">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/styles/styles.css" />
    <title>Osto ja myyntikanava</title>
  </head>
  <body>
    <div class="nav">
      <h3>Osto ja myyntikanava</h3>
      <ul>
        <li><a href="/">Etusivu</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/auth/logout">Logout</a></li>
      </ul>
    </div>

    <div class="registerForm">
        <h1>Muokkaa ilmoitusta</h1>
        <form action="/auth/editAdvert" method="PUT">
          <div>
            <label for="advertName">Ilmoitusksen nimi: </label>
            <input
              type="text"
              class="form-control"
              id="ilmoitus_nimi"
              name="ilmoitus_nimi"
              placeholder={{ilmoitus_nimi}}
            />
          </div>

          <div>
            <label for="advertDescription">Ilmoituksen kuvaus:</label>
            <input
              type="text"
              class="form-control"
              id="ilmoitus_kuvaus"
              name="ilmoitus_kuvaus"
              placeholder={{ilmoitus_kuvaus}}
            />
          </div>

          <button type="submit" class="button">Tallenna</button>
        </form>
      </div>
    </div>
    


  </body>
</html>