<!DOCTYPE html>
<html lang="fi">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles/styles.css">
    <title>Osto ja myyntikanava</title>
</head>

<body>



    <div style="text-align: center;">
        <form action="/" method="POST">
        <label for="searchAdvert">Hae ilmoituksista: </label>
        <input type="text" class="form-control" id="searchAdvert" name="searchAdvert" placeholder="Kirjoita hakusana" />
        
        {{#if (isEmpty searchAdvert)}}
        <button type="submit" class="button">Hae</button><button type="submit" class="button">Tyhjennä</button>
        {{else}}
        <button type="submit" class="button">Hae</button>
        {{/if}}
        </form>
    </div>

    <div>
        {{> list-adverts}}
    </div>

</body>

</html>