<html lang="fi">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/assets/styles/styles.css" />
  <title>Osto ja myyntikanava</title>
</head>

<body>

  <br>

  <div class="universalForm">
    <form action="/register" method="POST">
      <div class="container">
        <div class="two-col-header">
          <h1>Rekisteröidy</h1>
        </div>


        <div class="itemA">
          <label for="userName">Käyttäjätunnus: </label>
        </div>
        <div class="itemB">
          <input type="text" class="form-control" id="kayttaja_tunnus" name="kayttaja_tunnus"
            placeholder="Käyttäjätunnus" />
        </div>

        <div class="itemA">
          <label for="email">Sähköposti: </label>
        </div>
        <div class="itemB">
          <input type="email" class="form-control" id="kayttaja_sahkoposti" name="kayttaja_sahkoposti"
            placeholder="Sähköposti" />
        </div>

        <div class="itemA">
          <label for="password">Salasana: </label>
        </div>
        <div class="itemB">
          <input type="password" class="form-control" id="kayttaja_salasana" name="kayttaja_salasana"
            placeholder="Salasana" />
        </div>

        <div class="itemA">
          <label for="passwordConfirm">Vahvista salasana: </label>
        </div>
        <div class="itemB">
          <input type="password" class="form-control" id="kayttaja_salasana_varmistus"
            name="kayttaja_salasana_varmistus" placeholder="Kirjoita salasana uudelleen" />
        </div>
        <div class="registerButton">
          <button type="submit" class="button">Rekisteröidy</button>
        </div>
      </div>
    </form>
  </div>

  <div>
    {{#if message}}
    <h4 class="alert">{{message}}</h4>
    {{/if}}
  </div>

</body>

</html>